In [1]:
import boto3
boto3.__version__
import time

In [31]:
client = boto3.client('athena')


def exct_req_data():
    response1 = client.start_query_execution(
        QueryString='select  distinct state FROM "data-engineer"."claims"  ;',
        QueryExecutionContext={
            'Database': 'data-engineer'
        
        },
        ResultConfiguration={
            'OutputLocation':'s3://techkraft-dataengineer/athena-results/'
        }
    )
    time.sleep(2)

    QueryExecutionId= response1['QueryExecutionId']
    result = client.get_query_results(QueryExecutionId=QueryExecutionId)
 
    return returnState(result)

['AZ', 'OR', 'FL', 'NY', 'PA', 'MO', 'KY', 'AL', 'IA', 'WY', 'MI', 'RI', 'TN', 'NE', 'WA', 'IN', 'OH', 'MD', 'SC', 'SD', 'TX', 'DC', 'MN', 'NV', 'KS', 'DE', 'HI', 'MS', 'WV', 'NJ', 'NM', 'CA', 'MA', 'OK', 'VA', 'WI', 'CO', 'LA', 'IL', 'CT', 'NC', 'GA', 'AK', 'AR', 'ID', 'UT', 'NH', 'ND', 'ME']

In [62]:
def return_key(result):
    key=[]
    # print(result)
    for i in result['ResultSet']['Rows'][:1]:
        # print('reslut are given belowwww ')
        for looop in i['Data']:
            key.append(looop['VarCharValue'])
    return key

In [32]:
def returnState(result):
    stateData=[]
    for i in result['ResultSet']['Rows'][1:]:
        # print(i)
        state = i['Data'][0]['VarCharValue']
        stateData.append(state)
    return stateData

In [75]:
def returnState_id():
    exe_id=[]
    state=exct_req_data()
    for z in state:
        # print(z)
        response = client.start_query_execution(
        QueryString=f'select  \'{z}\' state, count(*) FROM "data-engineer"."claims" where state = \'{z}\' ;',
        QueryExecutionContext={
            'Database': 'data-engineer'
        
        },
        ResultConfiguration={
            'OutputLocation':'s3://techkraft-dataengineer/athena-results/'
        }
        )
      
        id= response['QueryExecutionId'] 
        # check()
        
        
        exe_id.append(id)
    check(id)
    # time.sleep(2)
    
    result = client.get_query_results(QueryExecutionId=id)
    
    
    data = {
    'exe_id' : exe_id,
    'key' : return_key(result)
    }
       
    return data
# print(returnState_id())

In [76]:
# print(query_report['QueryExecution']['Status']['State'])
def check(id):
    while True:
        stage = client.get_query_execution(QueryExecutionId=id)['QueryExecution']['Status']['State']
        print(stage)
        if(stage == "SUCCEEDED"):
            break
        if(stage == "FAILED" or stage == "CANCELLED"):
            raise ValueError("Something went wrong with the query")
        # time.sleep(1)

In [77]:
def data_frame():
    data={}
    exe_id = returnState_id()['exe_id']
    keys= returnState_id()['key']

    for k in keys:
        data[k] = []

    for i in exe_id:
        result = client.get_query_results(QueryExecutionId=i)
        for row in result['ResultSet']['Rows'][1:]:
            for i,k in enumerate(keys):
                print(i,k)
                data[k].append(row['Data'][i]['VarCharValue'])
            # print(result['ResultSet']['Rows'])
    print(data)
    return data

df=data_frame()

RUNNING
RUNNING
SUCCEEDED
RUNNING
RUNNING
SUCCEEDED
0 state
1 _col1
0 state
1 _col1
0 state
1 _col1
0 state
1 _col1
0 state
1 _col1
0 state
1 _col1
0 state
1 _col1
0 state
1 _col1
0 state
1 _col1
0 state
1 _col1
0 state
1 _col1
0 state
1 _col1
0 state
1 _col1
0 state
1 _col1
0 state
1 _col1
0 state
1 _col1
0 state
1 _col1
0 state
1 _col1
0 state
1 _col1
0 state
1 _col1
0 state
1 _col1
0 state
1 _col1
0 state
1 _col1
0 state
1 _col1
0 state
1 _col1
0 state
1 _col1
0 state
1 _col1
0 state
1 _col1
0 state
1 _col1
0 state
1 _col1
0 state
1 _col1
0 state
1 _col1
0 state
1 _col1
0 state
1 _col1
0 state
1 _col1
0 state
1 _col1
0 state
1 _col1
0 state
1 _col1
0 state
1 _col1
0 state
1 _col1
0 state
1 _col1
0 state
1 _col1
0 state
1 _col1
0 state
1 _col1
0 state
1 _col1
0 state
1 _col1
0 state
1 _col1
0 state
1 _col1
0 state
1 _col1
{'state': ['MI', 'RI', 'TN', 'NE', 'WA', 'IN', 'OH', 'MD', 'SC', 'SD', 'TX', 'DC', 'AZ', 'OR', 'FL', 'NY', 'PA', 'MO', 'KY', 'AL', 'IA', 'WY', 'WV', 'NJ', 'NM', 'AR', 'ID', 'UT', 'NH', 'ND', 'ME', 'CA', 'MA', 'OK', 'VA', 'WI', 'CO', 'LA', 'IL', 'CT', 'NC', 'GA', 'AK', 'MN', 'NV', 'KS', 'DE', 'HI', 'MS'], '_col1': ['22', '1', '19', '6', '19', '22', '29', '10', '9', '2', '127', '25', '31', '11', '71', '69', '28', '18', '18', '15', '6', '1', '9', '10', '4', '6', '3', '4', '1', '2', '1', '116', '15', '16', '35', '6', '30', '22', '23', '16', '25', '28', '1', '28', '13', '9', '7', '7', '4']}

In [74]:
print(df)

{'name': ['WV', 'NJ', 'NM', 'CA', 'MA', 'OK', 'VA', 'WI', 'CO', 'LA', 'IL', 'CT', 'NC', 'GA', 'AK', 'AR', 'ID', 'UT', 'NH', 'ND', 'ME', 'MN', 'NV', 'KS', 'DE', 'HI', 'MS', 'MI', 'RI', 'TN', 'NE', 'TX', 'DC', 'AZ', 'OR', 'FL', 'NY', 'PA', 'MO', 'KY', 'AL', 'IA', 'WY', 'WA', 'IN', 'OH', 'MD', 'SC', 'SD'], '_col1': ['9', '10', '4', '116', '15', '16', '35', '6', '30', '22', '23', '16', '25', '28', '1', '6', '3', '4', '1', '2', '1', '28', '13', '9', '7', '7', '4', '22', '1', '19', '6', '127', '25', '31', '11', '71', '69', '28', '18', '18', '15', '6', '1', '19', '22', '29', '10', '9', '2']}

In [79]:
import pandas as pd 
pd.__version__

'1.4.2'

In [80]:
dataFrame = pd.DataFrame(df)

In [81]:
dataFrame

   state _col1
0     MI    22
1     RI     1
2     TN    19
3     NE     6
4     WA    19
5     IN    22
6     OH    29
7     MD    10
8     SC     9
9     SD     2
10    TX   127
11    DC    25
12    AZ    31
13    OR    11
14    FL    71
15    NY    69
16    PA    28
17    MO    18
18    KY    18
19    AL    15
20    IA     6
21    WY     1
22    WV     9
23    NJ    10
24    NM     4
25    AR     6
26    ID     3
27    UT     4
28    NH     1
29    ND     2
30    ME     1
31    CA   116
32    MA    15
33    OK    16
34    VA    35
35    WI     6
36    CO    30
37    LA    22
38    IL    23
39    CT    16
40    NC    25
41    GA    28
42    AK     1
43    MN    28
44    NV    13
45    KS     9
46    DE     7
47    HI     7
48    MS     4

In [82]:
dataFrame.to_csv('multileQuery_athena_python_output.csv',index=False)