In [28]:
print('ehllo')

ehllo

In [29]:
import boto3
boto3.__version__
import time

In [30]:
client = boto3.client('athena')

response1 = client.start_query_execution(
    QueryString='select  distinct state FROM "data-engineer"."claims"  ;',
    QueryExecutionContext={
        'Database': 'data-engineer'
       
    },
    ResultConfiguration={
        'OutputLocation':'s3://techkraft-dataengineer/athena-results/'
    }
)

time.sleep(2)
 

QueryExecutionId= response1['QueryExecutionId']
result = client.get_query_results(QueryExecutionId=QueryExecutionId)
print(result)

{'UpdateCount': 0, 'ResultSet': {'Rows': [{'Data': [{'VarCharValue': 'state'}]}, {'Data': [{'VarCharValue': 'AZ'}]}, {'Data': [{'VarCharValue': 'OR'}]}, {'Data': [{'VarCharValue': 'FL'}]}, {'Data': [{'VarCharValue': 'NY'}]}, {'Data': [{'VarCharValue': 'PA'}]}, {'Data': [{'VarCharValue': 'MO'}]}, {'Data': [{'VarCharValue': 'KY'}]}, {'Data': [{'VarCharValue': 'AL'}]}, {'Data': [{'VarCharValue': 'IA'}]}, {'Data': [{'VarCharValue': 'WY'}]}, {'Data': [{'VarCharValue': 'MI'}]}, {'Data': [{'VarCharValue': 'RI'}]}, {'Data': [{'VarCharValue': 'TN'}]}, {'Data': [{'VarCharValue': 'NE'}]}, {'Data': [{'VarCharValue': 'WA'}]}, {'Data': [{'VarCharValue': 'IN'}]}, {'Data': [{'VarCharValue': 'OH'}]}, {'Data': [{'VarCharValue': 'MD'}]}, {'Data': [{'VarCharValue': 'SC'}]}, {'Data': [{'VarCharValue': 'SD'}]}, {'Data': [{'VarCharValue': 'TX'}]}, {'Data': [{'VarCharValue': 'DC'}]}, {'Data': [{'VarCharValue': 'AR'}]}, {'Data': [{'VarCharValue': 'ID'}]}, {'Data': [{'VarCharValue': 'UT'}]}, {'Data': [{'VarCharValue': 'NH'}]}, {'Data': [{'VarCharValue': 'ND'}]}, {'Data': [{'VarCharValue': 'ME'}]}, {'Data': [{'VarCharValue': 'WV'}]}, {'Data': [{'VarCharValue': 'NJ'}]}, {'Data': [{'VarCharValue': 'NM'}]}, {'Data': [{'VarCharValue': 'CA'}]}, {'Data': [{'VarCharValue': 'MA'}]}, {'Data': [{'VarCharValue': 'OK'}]}, {'Data': [{'VarCharValue': 'VA'}]}, {'Data': [{'VarCharValue': 'WI'}]}, {'Data': [{'VarCharValue': 'CO'}]}, {'Data': [{'VarCharValue': 'LA'}]}, {'Data': [{'VarCharValue': 'IL'}]}, {'Data': [{'VarCharValue': 'CT'}]}, {'Data': [{'VarCharValue': 'NC'}]}, {'Data': [{'VarCharValue': 'GA'}]}, {'Data': [{'VarCharValue': 'AK'}]}, {'Data': [{'VarCharValue': 'MN'}]}, {'Data': [{'VarCharValue': 'NV'}]}, {'Data': [{'VarCharValue': 'KS'}]}, {'Data': [{'VarCharValue': 'DE'}]}, {'Data': [{'VarCharValue': 'HI'}]}, {'Data': [{'VarCharValue': 'MS'}]}], 'ResultSetMetadata': {'ColumnInfo': [{'CatalogName': 'hive', 'SchemaName': '', 'TableName': '', 'Name': 'state', 'Label': 'state', 'Type': 'varchar', 'Precision': 2147483647, 'Scale': 0, 'Nullable': 'UNKNOWN', 'CaseSensitive': True}]}}, 'ResponseMetadata': {'RequestId': '295fa80a-fb14-46ee-912f-69e973cb237d', 'HTTPStatusCode': 200, 'HTTPHeaders': {'content-type': 'application/x-amz-json-1.1', 'date': 'Thu, 04 Aug 2022 11:11:11 GMT', 'x-amzn-requestid': '295fa80a-fb14-46ee-912f-69e973cb237d', 'content-length': '2918', 'connection': 'keep-alive'}, 'RetryAttempts': 0}}

In [31]:
stateData=[]

In [32]:
for i in result['ResultSet']['Rows'][1:]:
    # print(i)
    state = i['Data'][0]['VarCharValue']
    stateData.append(state)
print(stateData)
    
    # print(value[0]['VarCharValue'])
    # city = value['VarCharValue']

['AZ', 'OR', 'FL', 'NY', 'PA', 'MO', 'KY', 'AL', 'IA', 'WY', 'MI', 'RI', 'TN', 'NE', 'WA', 'IN', 'OH', 'MD', 'SC', 'SD', 'TX', 'DC', 'AR', 'ID', 'UT', 'NH', 'ND', 'ME', 'WV', 'NJ', 'NM', 'CA', 'MA', 'OK', 'VA', 'WI', 'CO', 'LA', 'IL', 'CT', 'NC', 'GA', 'AK', 'MN', 'NV', 'KS', 'DE', 'HI', 'MS']

In [33]:
exe_id=[]

In [34]:
for z in stateData:
    response = client.start_query_execution(
    QueryString=f'select  \'{z}\' name, count(*) FROM "data-engineer"."claims" where state = \'{z}\' ;',
    QueryExecutionContext={
        'Database': 'data-engineer'
       
    },
    ResultConfiguration={
        'OutputLocation':'s3://techkraft-dataengineer/athena-results/'
    }
    )
    # time.sleep(2)
    id= response['QueryExecutionId']  
    exe_id.append(id)

In [35]:
# print(query_report['QueryExecution']['Status']['State'])
while True:
    state = client.get_query_execution(QueryExecutionId=id)['QueryExecution']['Status']['State']
    print(state)
    if(state == "SUCCEEDED"):
        break
    if(state == "FAILED" or state == "CANCELLED"):
        raise ValueError("Something went wrong with the query")
    # time.sleep(1)

RUNNING
SUCCEEDED

In [36]:
result = client.get_query_results(QueryExecutionId=id)
print(result)

{'UpdateCount': 0, 'ResultSet': {'Rows': [{'Data': [{'VarCharValue': 'name'}, {'VarCharValue': '_col1'}]}, {'Data': [{'VarCharValue': 'MS'}, {'VarCharValue': '4'}]}], 'ResultSetMetadata': {'ColumnInfo': [{'CatalogName': 'hive', 'SchemaName': '', 'TableName': '', 'Name': 'name', 'Label': 'name', 'Type': 'varchar', 'Precision': 2, 'Scale': 0, 'Nullable': 'UNKNOWN', 'CaseSensitive': True}, {'CatalogName': 'hive', 'SchemaName': '', 'TableName': '', 'Name': '_col1', 'Label': '_col1', 'Type': 'bigint', 'Precision': 19, 'Scale': 0, 'Nullable': 'UNKNOWN', 'CaseSensitive': False}]}}, 'ResponseMetadata': {'RequestId': 'a9f3b239-d539-46f4-a606-e13985910065', 'HTTPStatusCode': 200, 'HTTPHeaders': {'content-type': 'application/x-amz-json-1.1', 'date': 'Thu, 04 Aug 2022 11:11:34 GMT', 'x-amzn-requestid': 'a9f3b239-d539-46f4-a606-e13985910065', 'content-length': '938', 'connection': 'keep-alive'}, 'RetryAttempts': 0}}

In [37]:

keys=[]
for i in result['ResultSet']['Rows'][:1]:
    k=i['Data']
    for i in k:
        header=i['VarCharValue']
        keys.append(header)

data={}
for k in keys:
    data[k] = []

        

for i in exe_id:

    result = client.get_query_results(QueryExecutionId=i)
    for row in result['ResultSet']['Rows'][1:]:
        for i,k in enumerate(keys):
            print(i,k)
            data[k].append(row['Data'][i]['VarCharValue'])
        print(result['ResultSet']['Rows'])

0 name
1 _col1
[{'Data': [{'VarCharValue': 'name'}, {'VarCharValue': '_col1'}]}, {'Data': [{'VarCharValue': 'AZ'}, {'VarCharValue': '31'}]}]
0 name
1 _col1
[{'Data': [{'VarCharValue': 'name'}, {'VarCharValue': '_col1'}]}, {'Data': [{'VarCharValue': 'OR'}, {'VarCharValue': '11'}]}]
0 name
1 _col1
[{'Data': [{'VarCharValue': 'name'}, {'VarCharValue': '_col1'}]}, {'Data': [{'VarCharValue': 'FL'}, {'VarCharValue': '71'}]}]
0 name
1 _col1
[{'Data': [{'VarCharValue': 'name'}, {'VarCharValue': '_col1'}]}, {'Data': [{'VarCharValue': 'NY'}, {'VarCharValue': '69'}]}]
0 name
1 _col1
[{'Data': [{'VarCharValue': 'name'}, {'VarCharValue': '_col1'}]}, {'Data': [{'VarCharValue': 'PA'}, {'VarCharValue': '28'}]}]
0 name
1 _col1
[{'Data': [{'VarCharValue': 'name'}, {'VarCharValue': '_col1'}]}, {'Data': [{'VarCharValue': 'MO'}, {'VarCharValue': '18'}]}]
0 name
1 _col1
[{'Data': [{'VarCharValue': 'name'}, {'VarCharValue': '_col1'}]}, {'Data': [{'VarCharValue': 'KY'}, {'VarCharValue': '18'}]}]
0 name
1 _col1
[{'Data': [{'VarCharValue': 'name'}, {'VarCharValue': '_col1'}]}, {'Data': [{'VarCharValue': 'AL'}, {'VarCharValue': '15'}]}]
0 name
1 _col1
[{'Data': [{'VarCharValue': 'name'}, {'VarCharValue': '_col1'}]}, {'Data': [{'VarCharValue': 'IA'}, {'VarCharValue': '6'}]}]
0 name
1 _col1
[{'Data': [{'VarCharValue': 'name'}, {'VarCharValue': '_col1'}]}, {'Data': [{'VarCharValue': 'WY'}, {'VarCharValue': '1'}]}]
0 name
1 _col1
[{'Data': [{'VarCharValue': 'name'}, {'VarCharValue': '_col1'}]}, {'Data': [{'VarCharValue': 'MI'}, {'VarCharValue': '22'}]}]
0 name
1 _col1
[{'Data': [{'VarCharValue': 'name'}, {'VarCharValue': '_col1'}]}, {'Data': [{'VarCharValue': 'RI'}, {'VarCharValue': '1'}]}]
0 name
1 _col1
[{'Data': [{'VarCharValue': 'name'}, {'VarCharValue': '_col1'}]}, {'Data': [{'VarCharValue': 'TN'}, {'VarCharValue': '19'}]}]
0 name
1 _col1
[{'Data': [{'VarCharValue': 'name'}, {'VarCharValue': '_col1'}]}, {'Data': [{'VarCharValue': 'NE'}, {'VarCharValue': '6'}]}]
0 name
1 _col1
[{'Data': [{'VarCharValue': 'name'}, {'VarCharValue': '_col1'}]}, {'Data': [{'VarCharValue': 'WA'}, {'VarCharValue': '19'}]}]
0 name
1 _col1
[{'Data': [{'VarCharValue': 'name'}, {'VarCharValue': '_col1'}]}, {'Data': [{'VarCharValue': 'IN'}, {'VarCharValue': '22'}]}]
0 name
1 _col1
[{'Data': [{'VarCharValue': 'name'}, {'VarCharValue': '_col1'}]}, {'Data': [{'VarCharValue': 'OH'}, {'VarCharValue': '29'}]}]
0 name
1 _col1
[{'Data': [{'VarCharValue': 'name'}, {'VarCharValue': '_col1'}]}, {'Data': [{'VarCharValue': 'MD'}, {'VarCharValue': '10'}]}]
0 name
1 _col1
[{'Data': [{'VarCharValue': 'name'}, {'VarCharValue': '_col1'}]}, {'Data': [{'VarCharValue': 'SC'}, {'VarCharValue': '9'}]}]
0 name
1 _col1
[{'Data': [{'VarCharValue': 'name'}, {'VarCharValue': '_col1'}]}, {'Data': [{'VarCharValue': 'SD'}, {'VarCharValue': '2'}]}]
0 name
1 _col1
[{'Data': [{'VarCharValue': 'name'}, {'VarCharValue': '_col1'}]}, {'Data': [{'VarCharValue': 'TX'}, {'VarCharValue': '127'}]}]
0 name
1 _col1
[{'Data': [{'VarCharValue': 'name'}, {'VarCharValue': '_col1'}]}, {'Data': [{'VarCharValue': 'DC'}, {'VarCharValue': '25'}]}]
0 name
1 _col1
[{'Data': [{'VarCharValue': 'name'}, {'VarCharValue': '_col1'}]}, {'Data': [{'VarCharValue': 'AR'}, {'VarCharValue': '6'}]}]
0 name
1 _col1
[{'Data': [{'VarCharValue': 'name'}, {'VarCharValue': '_col1'}]}, {'Data': [{'VarCharValue': 'ID'}, {'VarCharValue': '3'}]}]
0 name
1 _col1
[{'Data': [{'VarCharValue': 'name'}, {'VarCharValue': '_col1'}]}, {'Data': [{'VarCharValue': 'UT'}, {'VarCharValue': '4'}]}]
0 name
1 _col1
[{'Data': [{'VarCharValue': 'name'}, {'VarCharValue': '_col1'}]}, {'Data': [{'VarCharValue': 'NH'}, {'VarCharValue': '1'}]}]
0 name
1 _col1
[{'Data': [{'VarCharValue': 'name'}, {'VarCharValue': '_col1'}]}, {'Data': [{'VarCharValue': 'ND'}, {'VarCharValue': '2'}]}]
0 name
1 _col1
[{'Data': [{'VarCharValue': 'name'}, {'VarCharValue': '_col1'}]}, {'Data': [{'VarCharValue': 'ME'}, {'VarCharValue': '1'}]}]
0 name
1 _col1
[{'Data': [{'VarCharValue': 'name'}, {'VarCharValue': '_col1'}]}, {'Data': [{'VarCharValue': 'WV'}, {'VarCharValue': '9'}]}]
0 name
1 _col1
[{'Data': [{'VarCharValue': 'name'}, {'VarCharValue': '_col1'}]}, {'Data': [{'VarCharValue': 'NJ'}, {'VarCharValue': '10'}]}]
0 name
1 _col1
[{'Data': [{'VarCharValue': 'name'}, {'VarCharValue': '_col1'}]}, {'Data': [{'VarCharValue': 'NM'}, {'VarCharValue': '4'}]}]
0 name
1 _col1
[{'Data': [{'VarCharValue': 'name'}, {'VarCharValue': '_col1'}]}, {'Data': [{'VarCharValue': 'CA'}, {'VarCharValue': '116'}]}]
0 name
1 _col1
[{'Data': [{'VarCharValue': 'name'}, {'VarCharValue': '_col1'}]}, {'Data': [{'VarCharValue': 'MA'}, {'VarCharValue': '15'}]}]
0 name
1 _col1
[{'Data': [{'VarCharValue': 'name'}, {'VarCharValue': '_col1'}]}, {'Data': [{'VarCharValue': 'OK'}, {'VarCharValue': '16'}]}]
0 name
1 _col1
[{'Data': [{'VarCharValue': 'name'}, {'VarCharValue': '_col1'}]}, {'Data': [{'VarCharValue': 'VA'}, {'VarCharValue': '35'}]}]
0 name
1 _col1
[{'Data': [{'VarCharValue': 'name'}, {'VarCharValue': '_col1'}]}, {'Data': [{'VarCharValue': 'WI'}, {'VarCharValue': '6'}]}]
0 name
1 _col1
[{'Data': [{'VarCharValue': 'name'}, {'VarCharValue': '_col1'}]}, {'Data': [{'VarCharValue': 'CO'}, {'VarCharValue': '30'}]}]
0 name
1 _col1
[{'Data': [{'VarCharValue': 'name'}, {'VarCharValue': '_col1'}]}, {'Data': [{'VarCharValue': 'LA'}, {'VarCharValue': '22'}]}]
0 name
1 _col1
[{'Data': [{'VarCharValue': 'name'}, {'VarCharValue': '_col1'}]}, {'Data': [{'VarCharValue': 'IL'}, {'VarCharValue': '23'}]}]
0 name
1 _col1
[{'Data': [{'VarCharValue': 'name'}, {'VarCharValue': '_col1'}]}, {'Data': [{'VarCharValue': 'CT'}, {'VarCharValue': '16'}]}]
0 name
1 _col1
[{'Data': [{'VarCharValue': 'name'}, {'VarCharValue': '_col1'}]}, {'Data': [{'VarCharValue': 'NC'}, {'VarCharValue': '25'}]}]
0 name
1 _col1
[{'Data': [{'VarCharValue': 'name'}, {'VarCharValue': '_col1'}]}, {'Data': [{'VarCharValue': 'GA'}, {'VarCharValue': '28'}]}]
0 name
1 _col1
[{'Data': [{'VarCharValue': 'name'}, {'VarCharValue': '_col1'}]}, {'Data': [{'VarCharValue': 'AK'}, {'VarCharValue': '1'}]}]
0 name
1 _col1
[{'Data': [{'VarCharValue': 'name'}, {'VarCharValue': '_col1'}]}, {'Data': [{'VarCharValue': 'MN'}, {'VarCharValue': '28'}]}]
0 name
1 _col1
[{'Data': [{'VarCharValue': 'name'}, {'VarCharValue': '_col1'}]}, {'Data': [{'VarCharValue': 'NV'}, {'VarCharValue': '13'}]}]
0 name
1 _col1
[{'Data': [{'VarCharValue': 'name'}, {'VarCharValue': '_col1'}]}, {'Data': [{'VarCharValue': 'KS'}, {'VarCharValue': '9'}]}]
0 name
1 _col1
[{'Data': [{'VarCharValue': 'name'}, {'VarCharValue': '_col1'}]}, {'Data': [{'VarCharValue': 'DE'}, {'VarCharValue': '7'}]}]
0 name
1 _col1
[{'Data': [{'VarCharValue': 'name'}, {'VarCharValue': '_col1'}]}, {'Data': [{'VarCharValue': 'HI'}, {'VarCharValue': '7'}]}]
0 name
1 _col1
[{'Data': [{'VarCharValue': 'name'}, {'VarCharValue': '_col1'}]}, {'Data': [{'VarCharValue': 'MS'}, {'VarCharValue': '4'}]}]

In [38]:
# print(result['ResultSet']['Rows'][:1])

    # for i,k in enumerate(key):
    #     print(i,k)
    # # print(i['Data'][0])

In [39]:
print(keys)

['name', '_col1']

In [40]:
print(data)

{'name': ['AZ', 'OR', 'FL', 'NY', 'PA', 'MO', 'KY', 'AL', 'IA', 'WY', 'MI', 'RI', 'TN', 'NE', 'WA', 'IN', 'OH', 'MD', 'SC', 'SD', 'TX', 'DC', 'AR', 'ID', 'UT', 'NH', 'ND', 'ME', 'WV', 'NJ', 'NM', 'CA', 'MA', 'OK', 'VA', 'WI', 'CO', 'LA', 'IL', 'CT', 'NC', 'GA', 'AK', 'MN', 'NV', 'KS', 'DE', 'HI', 'MS'], '_col1': ['31', '11', '71', '69', '28', '18', '18', '15', '6', '1', '22', '1', '19', '6', '19', '22', '29', '10', '9', '2', '127', '25', '6', '3', '4', '1', '2', '1', '9', '10', '4', '116', '15', '16', '35', '6', '30', '22', '23', '16', '25', '28', '1', '28', '13', '9', '7', '7', '4']}

In [41]:
import pandas as pd 
pd.__version__

'1.4.2'

In [42]:
df = pd.DataFrame(data)

In [43]:
df

   name _col1
0    AZ    31
1    OR    11
2    FL    71
3    NY    69
4    PA    28
5    MO    18
6    KY    18
7    AL    15
8    IA     6
9    WY     1
10   MI    22
11   RI     1
12   TN    19
13   NE     6
14   WA    19
15   IN    22
16   OH    29
17   MD    10
18   SC     9
19   SD     2
20   TX   127
21   DC    25
22   AR     6
23   ID     3
24   UT     4
25   NH     1
26   ND     2
27   ME     1
28   WV     9
29   NJ    10
30   NM     4
31   CA   116
32   MA    15
33   OK    16
34   VA    35
35   WI     6
36   CO    30
37   LA    22
38   IL    23
39   CT    16
40   NC    25
41   GA    28
42   AK     1
43   MN    28
44   NV    13
45   KS     9
46   DE     7
47   HI     7
48   MS     4

In [45]:
df.to_csv('multileQuery_athena_python_output.csv',index=False)